rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /robux_counts/{characterId} {
      allow read: if true;
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['count']) &&
                       (request.resource.data.count == resource.data.count + 1 || request.resource.data.count == 0);
      allow create: if request.resource.data.keys().hasAll(['count']) && 
                       (request.resource.data.count == 1 || request.resource.data.count == 0);
    }
    match /device_votes/{fingerprint} {
      allow read, write: if true;
    }

    match /rp_comments/{characterId}/items/{commentId} {
      allow read: if true;
      allow create: if request.resource.data.userName is string &&
                       request.resource.data.userName.size() > 0 &&
                       request.resource.data.userName.size() <= 50 &&
                       request.resource.data.commentText is string &&
                       request.resource.data.commentText.size() > 0 &&
                       request.resource.data.commentText.size() <= 250 &&
                       request.resource.data.characterId == characterId;
      allow update, delete: if false;
    }

    match /rp_comment_counts/{characterId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
